<div>
    <section class="section pb-0 body">
        <div class="jumbotron bg-cover-diagnosis mb-0 ">
            <h1 class="display-3 text-center text-pop-up-bottom">דיאגנוסטיפול</h1>
            <p class="lead text-center">Master Your Health.</p>
            <div class="row justify-content-center">
                <div class="form-group has-search text-justify text-left">
                </div>
            </div>
            <hr class="my-2">
        </div>
    </section>
    <medical-navbar></medical-navbar>
    <div class="scene">
        <div class="carousel">
            <div class="carousel__cell" ng-repeat="body in bodes">
                <img src="{{body.image}}" ng-click="clickCard(body)" alt="head-man"></div>
        </div>
        <div class="carousel-options">
            <p>
                <label>
                    Cells
                    <input class="cells-range" type="range" min="3" max="15" value="8" />
                </label>
            </p>
            <p>
                <button class="previous-button">Previous</button>
                <button class="next-button">Next</button>
            </p>
            <p>
                Orientation:
                <label>
                    <input type="radio" name="orientation" value="horizontal" checked />
                    horizontal
                </label>
                <label>
                    <input type="radio" name="orientation" value="vertical" />
                    vertical
                </label>
            </p>
        </div>
    </div>
    <script src="diagnosisCtrl.js"></script>
</div>