<medical-navbar></medical-navbar>
<div class="container pt-4">
    <h1 class="text-center">medicines</h1>
    <div class="row justify-content-center">
            <div class="form-group has-search text-justify text-left">
                <div class="d-flex justify-content-end">
                    <span class="fas fa-search form-control-feedback"></span>
                </div>
                <input href="#!medicine" ng-model="query" type="text" class="form-control" placeholder="חיפוש תרופה">
            </div>
        </div>
    <div class="my-4" ng-show="query" ng-model="Medicine" ng-repeat="medicine in medicines | filter : filterMed">
        <div class="row media border border-dark card-body2">
            <div class="col-md-4 mr-3">
                <div>
                    <img class="imgmedice" ng-click="openMedicineDetails(medicine)"
                        ng-src="{{medicine.mimg}}">
                </div>
            </div>
            <div class="col-md-8 ml-5 media-body justify-content-between reverse">
                <div class=" mb-5">
                    <a href="{{medicine.moreinfo}}" target="_blank">
                        <h4 class="mt-0 text-info">{{medicine.mname}}</h4>
                        <h6>{{medicine.mename}}</h6>
                    </a>
                    <h5>חומרים פעילים:</h5>
                    <p> {{medicine.sactive}} </p>
                </div>
            </div>
        </div>
    </div>
</div>